.elec-banner {
    display: block;
    position: relative;
    margin-bottom: 30px;
}
// .logo-frame {
//   display: inline-block;
//   position: relative;
//   float: left;
// }
.elec-logo {
    width: 300px;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.links-wrapper {
    border-left: 3px solid #C12020;
    position: relative;
    float: none;
    width: 100%;
    margin: 0 auto;
}
.text-links {
  display: inline-block;
  position: relative;
  font-family: 'AntennaMedium';
  padding: 10px;
  background-color: #F7F7F7;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 100%;
  text-align: center;
}
.links {
  display: inline-block;
  margin: 0 20px 0 20px;
  line-height: 1.4em;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 96%;
  text-align: center;
}
.brigade {
  color: #9221c7;
  &:hover {
    color: darken(#9221c7, 10%);
  }
}
.app-store {
  font-family: 'AntennaMedium';
}
a.fa.brigade:before {
  text-decoration: none;
}
.strong-underl {
  text-decoration: underline;
}
