$mobile: new-breakpoint(max-width 840px 12);
.candidates {
  //@include span-columns(12);
}

.candidate-race > .candidate {
  @include flex(1);
  padding: 10px;
}

.candidate {
  @include display(flex);
  @include media($mobile) {
    @include display(block);
  }
}

.candidate img {
  $desktop-size: 70px;
  $mobile-size: 100px;
  width: $desktop-size;
  height: $desktop-size;
  @include media($mobile) {
    width: $mobile-size;
    height: $mobile-size;
  }
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  color: #ABABAB;
}
.candidate-info {
  margin-left: 10px;
}

.candidate-info > h4:nth-child(1) {
  font-family: 'FarnhamTextBold';
  font-size: 1.2em;
  text-transform: none;
}
