$mobile: new-breakpoint(max-width 640px 12);

dl {
  @include outer-container;
}

dt {
  @include span-columns(4);
}

dd {
  @include span-columns(8);
}

dt, dd {
  @include media($mobile) {
    @include span-columns(12);
  }
}

.measure-letter {
  padding: 10px;
  border: 1px solid #000;
  font-weight: 700;
  margin-right: 10px;
  display: inline-block;
}
