h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  &:before {
    content: url(http://ww4.hdnux.com/photos/41/26/56/8743867/4/50x50.png);
    position: relative;
    top: 15px;
  }
}

.subnav {
  img {
    display: block;
    margin: 0 auto;
  }

  p {
    font-size: 1.3em;
    text-align: center;
    margin: 0 auto;
  }
}
