p {
  margin: 0 0 1.3em;
  font-family: 'AntennaMedium';
  font-size: .8em;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  font-family: 'AntennaBold';
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;

  &:before {
    content: url(http://ww4.hdnux.com/photos/41/26/56/8743867/4/50x50.png);
    position: relative;
    top: 15px;
  }
}

h3 {
  font-size: 1.75em;
  font-family: 'FarnhamTextBold';
  line-height: 1.1em;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8em;
  font-family: 'FarnhamTextBold';
}

.subnav {
  img {
    display: block;
    margin: 0 auto;
  }

  p {
    font-size: 1.3em;
    text-align: center;
    margin: 0 auto;
  }
}

time {
  font-family: 'AntennaMedium';
  font-weight: bold;
  color: #c12010;
  text-transform: uppercase;
}
