<section class="candidates">
    <h2>Mayor</h2>

    <section class="candidate-race">
        {% for candidate in mayor %}
        <div class="candidate">
          <img src="http://placehold.it/100x100" alt="placeholder">
          <div class="candidate-info">
            <h4>{{ candidate.name }}</h4>

            <div>
                <b>Yes</b>: <span></span>
            </div>
            <div>
                <b>No</b>: <span></span>
            </div>

            {% if candidate.endorse %}
            <h4>The Chronicle recommends</h4>
            <span class="vote vote-yes"><i class="fa fa-check"></i> Yes</span> on {{ candidate.name }}
            {% endif %}
          </div>
        </div>
        {% endfor %}
    </section>
    <h2>District 3</h2>
    <section class="candidate-race">
        {% for candidate in d3 %}
        <div class="candidate">
          <img src="http://placehold.it/100x100" alt="placeholder">
          <div class="candidate-info">
            <h4>{{ candidate.name }}</h4>
          </div>
        </div>
        {% endfor %}
    </section>
    <h2>Sheriff</h2>
    <section class="candidate-race">
        {% for candidate in sheriff %}
        <div class="candidate">
          <img src="http://placehold.it/100x100" alt="placeholder">
          <div class="candidate-info">
            <h4>{{ candidate.name }}</h4>
          </div>
        </div>
        {% endfor %}
    </section>
</section>
