<section class="candidates">
    <h2>Mayor</h2>
    <hr>
    <section class="candidate-race">
        {% for candidate in mayor %}
        <div class="candidate">
            <h3>{{ candidate.name }}</h3>
            {% if candidate.image_url %}
            <img src="{{ candidate.image_url }}" alt="{{ candidate.name }}">
            {% else %}
            <img src="http://placehold.it/100x100" alt="placeholder">
            {% endif %}
        </div>
        {% endfor %}
    </section>
    <h2>District 3</h2>
    <hr>
    <section class="candidate-race">
        {% for candidate in d3 %}
        <div class="candidate">
            <h3>{{ candidate.name }}</h3>
            {% if candidate.image_url %}
            <img src="{{ candidate.image_url }}" alt="{{ candidate.name }}">
            {% else %}
            <img src="http://placehold.it/100x100" alt="placeholder">
            {% endif %}
        </div>
        {% endfor %}
    </section>
    <h2>Sheriff</h2>
    <hr>
    <section class="candidate-race">
        {% for candidate in sheriff %}
        <div class="candidate">
            <h3>{{ candidate.name }}</h3>
            {% if candidate.image_url %}
            <img src="{{ candidate.image_url }}" alt="{{ candidate.name }}">
            {% else %}
            <img src="http://placehold.it/100x100" alt="placeholder">
            {% endif %}
        </div>
        {% endfor %}
    </section>
</section>
