<section class="measures">
    <h2 id="measures">Measures</h2>
{% for measure in measures %}
    <section class="measure {% if measure.endorsement_url %}{% else %}gray{% endif %}">
        <section class="letter">
            <span>{{ measure.letter }}</span>
        </section>
        <section class="measure-content">
            <h3>{{ measure.title }}</h3>
            <p>{{ measure.description }}</p>

            <h4>The Chronicle recommends</h4>
            <p>
            {% if measure.endorsement_url %}
                {% if measure.endorse %}<span class="vote vote-yes"><i class="fa fa-check"></i> Yes</span>{% else %}<span class="vote vote-no"><i class="fa fa-close"></i> No</span>{% endif %} on Measure {{ measure.letter }} {% if measure.endorsement_url %}| <a class="read-more" href="{{ measure.endorsement_url }}" target="_blank">Read more</a>{% endif %}
            {% else %}
            <span>Coming soon</span>
            {% endif %}
            </p>
        </section>
    </section>
{% endfor %}
</section>
