{% extends 'base.html' %}

{% block title %}New Web App | SF Chronicle{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<main>
    {% include 'components/nav.html' %}
    <section class="content">
        <dl>
        {% for measure in measures %}
            <dt>
                <h2>
                    <span>{{ measure.letter }}.</span>
                    <span>{{ measure.title }}</span>
                </h2>
            </dt>
            <dd>{{ measure.description }}</dd>

            <aside>
                <h3>Our take</h3>
                <p>TK <a href="#">Read more</a></p>
            </aside>
        {% endfor %}
        </dl>
    </section>
</main>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    App.init();
  });
</script>
{% endblock %}
