{% extends 'base.html' %}

{% block title %}New Web App | SF Chronicle{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<main>
    {% include 'components/nav.html' %}
    <article>
        {% include 'components/subnav.html' %}
        <dl>
        {% for measure in measures %}
            <dt>
                <h2>
                    <span class="measure-letter {{ measure.letter }}">{{ measure.letter }}.</span>
                    <span class="measure-title {{ measure.letter }}">{{ measure.title }}</span>
                </h2>
            </dt>
            <dd>
                <h3>the gist</h3>
                <p>{{ measure.description }}</p>

                <section>
                    <h3>Our take</h3>
                    <p>TK <a class="read-more" href="#">Read more</a></p>
                </section>
            </dd>
        {% endfor %}
        </dl>
    </article>
</main>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    App.init();
  });
</script>
{% endblock %}
