<section>
  <div class="elec-banner">
    <div class="logo-frame">
      <img src="http://ww4.hdnux.com/photos/41/26/56/8743847/4/400x400.png" class="elec-logo">
    </div>
    <div class="links-wrapper">
      <div class="text-links">
        <span class="links sec1">
                <strong class="strong-underl">Chronicle endorsements, views:</strong> &nbsp;<a href="http://www.sfchronicle.com/local/politics/" class="link-out">Our takes on the important choices</a><br>
                <strong class="strong-underl">Opinion and views:</strong> &nbsp;<a href="http://www.sfchronicle.com/opinion/" class= "link-out">More conversation and perspective</a><br>
                <strong class="strong-underl">Join the discussion:</strong> <a href="https://www.brigade.com/elections/san-francisco" class="brigade">Visit Brigade.com</a>
        </span>
      </div>
    </div>
</section>
