<section>
  <div class="elec-banner">
    <div class="logo-frame">
      <img src="http://ww4.hdnux.com/photos/41/26/56/8743847/4/400x400.png" class="elec-logo">
    </div>
    <div class="links-wrapper">
      <div class="text-links">
        <span class="links sec1">
                <strong class="strong-underl">Exclusive coverage:</strong> &nbsp;<a href="http://www.sfchronicle.com/local/politics/" class="link-out">In-depth reporting</a><br>
                <strong class="strong-underl">Opinion and views:</strong> &nbsp;<a href="http://www.sfchronicle.com/opinion/" class= "link-out">More conversation and perspective</a><br>
                <strong class="strong-underl">Join the discussion:</strong> <a href="https://www.brigade.com/elections/san-francisco" class="brigade">Brigade.com</a><br>
                <strong class="strong-underl">Download the app:</strong> <a href="https://www.brigade.com/app-store/ios?utm_source=partner&utm_medium=digital&utm_campaign=sfchronicle" class="brigade fa fa-apple"> <span class="app-store">App Store</span></a> | <a href="https://www.brigade.com/app-store/android?utm_source=partner&utm_medium=digital&utm_campaign=sfchronicle" class="brigade fa fa-android"> <span class="app-store">Google Play</span></a>
        </span>
      </div>
    </div>
</section>
