<section>
  <div class="elec-banner">
    <div class="logo-frame">
      <img src="http://ww4.hdnux.com/photos/41/26/56/8743847/4/400x400.png" class="elec-logo">
    </div>
    <div class="links-wrapper">
      <div class="text-links">
        <span class="links sec1"><strong class="strong-underl">Complete coverage:</strong><br> <a href="#" class= "link-out">In-depth reporting</a></span>
        <span class="links sec2"><strong class="strong-underl">Quick access:</strong><br> <a href="#" class= "link-out">In-booth voter guide</a></span>
        <span class="links sec3"><strong class="strong-underl">Opinion and views:</strong><br> <a href="#" class= "link-out">More conversation and perspective</a></span>
      </div>
    </div>
</section>
